<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stock.web.sejong.BugsMapper">

	<select id="countArticle" resultType="string">
        SELECT COUNT(*) FROM STOCKDB.BUGS
    </select>
    
    <select id="selectAll" resultType="BugsBean" parameterType="SejongProxy">
       	SELECT * 
   		FROM STOCKDB.BUGS	
   		LIMIT #{startRow}, #{pageSize}
    </select>
    
    <select id="countNaver" resultType="string">
        SELECT COUNT(*) FROM STOCKDB.NAVER
    </select>
    
    <select id="selectAllNaver" resultType="NaverBean" parameterType="SejongProxy">
       	SELECT * 
   		FROM STOCKDB.NAVER	
   		LIMIT #{startRow}, #{pageSize}
    </select>
    
    
</mapper>