<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.stock.web.hr.HrMapper">
   
   <insert id="insertBugsRank" parameterType="BugsBean">
   INSERT INTO STOCKDB.BUGS ( bugsseq, title, content, img)
  	VALUES (#{bugsseq},#{title},#{content},#{img})  
</insert>
   
   <insert id="insertCgvRank" parameterType="Cgv">
   INSERT INTO STOCKDB.CGV ( cgvseq, title, content, img)
  	VALUES (#{cgvseq},#{title},#{content},#{img})  
</insert>

   
   <insert id="insertNaver" parameterType="Naver">
   INSERT INTO STOCKDB.NAVER ( naverseq, title, content)
  	VALUES (#{naverseq},#{title},#{content})  
</insert>


	<select id="selectCgv" resultType="Cgv">
		SELECT * FROM STOCKDB.CGV 
	</select>
   

</mapper>